<header>
    <nav class="navbar">
      <mat-toolbar >
        <mat-toolbar-row >  
                <div class="navbar-header">  
                        <img src="./assets/auctionlogo.png" class="img-rounded" alt="muzix-logo" width="50px" height="50px">
                    </div>
            
          <span id="branding" [routerLink]="['/']">e-Auction</span>

          <section class="txt-center">

            <mat-chip-list>
              <mat-chip  class="navLinks" selected [routerLink]="['/home']" >HelpDesk</mat-chip>
              <mat-icon class="pipes">remove</mat-icon>
              <mat-chip  class="navLinks" selected [routerLink]="['/playlist']">Login/SignUp</mat-chip>
            </mat-chip-list>

          </section>

        </mat-toolbar-row></mat-toolbar>

        <mat-toolbar class="secondnav">

                <mat-toolbar-row >
            <span class="productspan">New User Registration</span>
                </mat-toolbar-row>
      </mat-toolbar>
    </nav>
</header>

  